@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  h1 {
    @apply text-brand-dark text-xl font-bold text-center md:text-2xl dark:text-white
  }

  h3 {
    @apply text-brand-dark text-lg font-bold text-center md:text-xl dark:text-white
  }

  .page-content {
    @apply text-center text-lg text-brand-dark md:text-xl dark:text-white
  }

  /* Clip pattern: https://www.a11yproject.com/posts/how-to-hide-content/ */
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .button {
    @apply bg-brand-blue text-white flex items-center justify-center px-[30px] py-[10px] font-bold text-base rounded-full dark:bg-transparent dark:border-2 dark:border-white
  }

  .page {
    @apply px-[15px] bg-brand-background dark:bg-brand-darkBackground dark:text-white relative flex flex-col items-center md:p-[30px] h-full  gap-[28px] pt-[70px] md:pt-[90px]
  }

  a {
    @apply text-lg
  }

  li {
    @apply list-disc
  }

  input {
    @apply min-w-[250px] text-center text-base py-[14px] outline-none rounded-full border-[1px] border-brand-dark text-brand-blue font-semibold dark:text-brand-dark
  }

  .highlight {
    @apply font-semibold text-brand-blue dark:text-white
  }

  .key {
    @apply text-4xl text-brand-blue font-semibold
  }

  .circle {
    @apply w-[30px] h-[30px] rounded-full border-slate-400 text-[#627289]  border-[3px] shrink-0 flex justify-center items-center font-semibold relative
  }

  .step {
    @apply flex items-center w-full
  }

  .bar {
    @apply h-[8px] bg-slate-400 w-full dark:bg-slate-400
  }

  .step-text {
    @apply  md:whitespace-nowrap text-center text-xs md:text-base text-[#627289] font-bold flex justify-center w-[40px]
  }

  .active {
    @apply text-brand-blue border-brand-blue dark:border-white dark:text-white text-[16px] md:text-[21px]
  }

  .active-circle {
    @apply text-brand-blue border-brand-blue w-[38px] h-[38px] dark:border-white dark:text-white
  }

  .current {
    @apply text-brand-dark border-brand-dark dark:text-[#DFDFDF] dark:border-white
  }

  .contrast-button {
    @apply h-[120px] border-2 border-brand-blue text-brand-blue rounded-2xl flex flex-col justify-center items-center cursor-pointer
  }
}


:root {
  --color_01: #2239A9;
  --pattern: url('./assets/pattern-1.png');
}

[data-theme="dark"] {
  --color_01: #2239A9;
  --pattern: url('./assets/pattern-2.png');
}

.stripes {
  background-image: repeating-linear-gradient(145deg, var(--color_01), var(--color_01) 5px, #fff 5px, #fff 7px);
  background-size: 7em 7em, 5em 5em, 3em 3em, 1em 1em;
}


.tiles {
  background-image: var(--pattern);
  background-size: 10px;
  background-repeat: space;
  background-position: 100%;
}

@media (min-width: 768px) {
  .tiles {
    background-size: 8px;
  }
}


html {
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Calibri', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
